--- 
components: 
  schemas: 
    NoiseLevelObserved: 
      $ref: "https://smart-data-models.github.io/dataModel.Environment/NoiseLevelObserved/model.yaml#/NoiseLevelObserved"
info: 
  description: |
    It represents an observation of those acoustic parameters that estimate noise pressure levels at a certain place and time. This entity is primarily associated with the Smart City and environment vertical segments and related IoT applications.

  title: NoiseLevelObserved
  version: "1.0.0"
openapi: "3.0.0"

# These paths are merely representative.
paths: 
  /ngsi-ld/v1/entities: 
    get: 
      description: "Retrieve a set of entities which matches a specific query from an NGSI-LD system"
      parameters: 
        - 
          in: query
          name: type
          required: true
          schema: 
            enum: 
              - NoiseLevelObserved
            type: string
      responses: 
        ? "200"
        : 
          content: 
            application/ld+json: 
              examples: 
                keyvalues: 
                  summary: "Key-Values Pairs"
                  value: 
                    - 
                      $ref: "https://smart-data-models.github.io/dataModel.Environment/NoiseLevelObserved/examples/example.json"
                normalized: 
                  summary: "Normalized NGSI-LD"
                  value: 
                    - 
                      $ref: "https://smart-data-models.github.io/dataModel.Environment/NoiseLevelObserved/examples/example-normalized-ld.jsonld"
          description: OK
      tags: 
        - ngsi-ld
tags: 
  - 
  
    description: "NGSI-LD Linked-data Format"
    name: ngsi-ld
